{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="form-signin-heading text-center">Change password</h1>
    <div class="card card-signin">
        <form class="form-signin" role="form" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
            {{ change_password_form.hidden_tag() }}
            {{ change_password_form.password(class="form-control", placeholder="Current password", type="password", autofocus=true, required=true)}}
            {% if change_password_form.password.errors %}
            {% for error in change_password_form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

            {{ change_password_form.new_password(class="form-control", placeholder="New password", type="password", required=true)}}
            {% if change_password_form.new_password.errors %}
            {% for error in change_password_form.New_password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

            {{ change_password_form.new_password_confirm(class="form-control", placeholder="Confirm new password", type="password", required=true)}}
            {% if change_password_form.new_password_confirm.errors %}
            {% for error in change_password_form.new_password_confirm.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
        </form>
    </div>
</div>
{% endblock %}

