{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="form-signin-heading text-center">Send password reset instructions</h1>
    <div class="card card-signin">
        <form class="form-signin" role="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            {{ forgot_password_form.email(class="form-control", placeholder="Email", type="email", required=true, autofocus=true)}}
            {% if forgot_password_form.email.errors %}
            {% for error in forgot_password_form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Recover password</button>
        </form>
    </div>
</div>
{% endblock %}
