<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>{{title}} - murmur</title>
    {% else %}
    <title>murmur</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/todc-bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/image-picker.css" rel="stylesheet">
    <link href="/static/css/bootstrap3-wysihtml5.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-masthead navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">murmur</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                {% if current_user.is_authenticated() %}
                <ul class="nav navbar-nav">
                    <li{% if request.path=="/" %} class="active"{% endif %}><a href="/">Read a story</a></li>
                    <li{% if request.path=="/share" %} class="active"{% endif %}><a href="/share">Share a story</a></li>
                    <li{% if request.path=="/stories" %} class="active"{% endif %}><a href="/stories">My stories</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome ^{{ current_user.id }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/change">Change password</a></li>
                            <li><a href="/clear">Clear viewed stories</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="/register">Register</a></li>
                </ul>
                {% if request.path!="/login" %}
                <span class="navbar-right">
                    <form class="navbar-form form-inline" action="/login" role="login" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{form.email(size=20, class="form-control", placeholder="Email", type="email")}}
                        </div>
                        <div class="form-group">
                            {{form.password(size=20, class="form-control", placeholder="Password", type="password")}}
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </span>
                {% endif %}
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->

        {% block header %}{% endblock %}

        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>


        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block content %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row centered">
                <p>Made in Perth, Australia by <a href="http://www.jonathongrigg.com">Jonathon Grigg</a>
                <br>
                Copyright © 2014 murmur</p>
            </div><!-- row -->
        </div><!-- container -->
    </footer><!-- Footer -->

    <!-- Load JS here for greater good =============================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/image-picker.js"></script>
    <script src="/static/js/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
