{% extends "base.html" %}
{% block content %}
<div class="container">
    <div>
        <h1>Share a new story</h1>
        <form>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea id="content" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="cover">Cover Image:</label><br>
                <button type="button" id="view_more_cover" class="btn btn-default">View more</button>
                <select id="cover" class="image-picker"></select>
            </div>
            <div class="button form-group">
                <button type="button" id="add_post" class="btn btn-primary">Share</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
