{% extends "base.html" %}
{% block header %}
<div id="headerwrap" style="background: url({{ post.cover }}) no-repeat center top;">
    <div class="darken">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 post">
                    <h1>{{ post.title }}</h1>
                    <h3><span>{{ post.date_created }}</span> by ^{{ post.author.id }}</h3>
                    <br>
                    <div class="btn-group">
                        <button id="support" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-heart{% if post not in current_user.supported_posts %}-empty{% endif %}"></span>
                            <span class="support">{{ post.support_count }}</span>
                        </button>
                        <button type="button" onclick="window.location.href='{{ url_for('edit', id=post.id) }}'" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" title="Delete"></span>Edit
                        </button>
                        <button type="button" onclick='deletePost("{{ post.id }}", "{{ post.title }}")' class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" title="Delete"></span>Delete
                        </button>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
</div><!-- headerwrap -->
{% endblock %}
{% block content %}
<div class="container w">
    <div class="post col-lg-8 col-lg-offset-2">
        <article>
            {{ post.content|safe }}
        </article>
    </div>
</div>
{% endblock %}
