{% extends "base.html" %}
{% block content %}
<div class="container w">
    <h1>My stories</h1>
    <div class="list-group">
    {% for story in current_user.posts %}
        <div class="row list-group-item active">
            <div class="col-xs-10 col-sm-11">
                <a href="/story/{{ story.id }}">
                    <h4 class="list-group-item-heading">{{ story.title }}</h4>
                    <p class="list-group-item-text">{{ story.content|striptags|truncate() }}</p>
                </a>
            </div>
            <div class="col-xs-2 col-sm-1">
                <a href="/edit/{{ story.id }}"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
                <a href="" onclick="deletePost('{{ story.id }}', '{{ story.title }}')"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}
